#sidebar {
  font-size: 16px;
}
#sidebar ul {
  list-style: none;
  width: 100px;
  height: 100%;
  padding: 0;
  box-shadow: inset -6px 0 0 rgba(0, 0, 0, 0.12);
  background-color: #706866;
}
#sidebar ul li {
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  position: relative;
  display: block;
  text-align: center;
  width: 100px;
  box-shadow: 0 1px 0 #6b6261, inset -6px 0 0 rgba(0, 0, 0, 0.12);
  background-color: #7a706e;
  border-bottom: 1px solid #706866;
}
#sidebar ul li:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
#sidebar ul li.active {
  background-color: #8fd7d4;
}
#sidebar ul li.active:after {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 #6b6261, inset -6px -6px 0 rgba(0, 0, 0, 0.12);
  background-color: #8fd7d4;
  transform: rotate(-45deg);
  position: absolute;
  left: 89px;
  top: 35px;
}
#sidebar ul li.active a {
  color: #3e3e3e;
}
#sidebar ul li a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 0;
}
#sidebar ul li a i {
  font-size: 1.875em;
}
#sidebar ul li a p {
  font-size: 0.75em;
  margin: 0;
  font-family: EauSansBold, sans-serif;
  font-weight: 700;
}
