<nav id="sidebar">
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink='dashboard'>
        <i class="fa fa-user" aria-hidden="true"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink='ui_elements'>
        <i class="fa fa-sliders" aria-hidden="true"></i>
        <p>UI Elements</p>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a routerLink='form_stuff'>
        <i class="fa fa-indent" aria-hidden="true"></i>
        <p>Form Stuff</p>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a>
        <i class="fa fa-comments" aria-hidden="true"></i>
        <p>Messages</p>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <p>Statistic</p>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a>
        <i class="fa fa-th" aria-hidden="true"></i>
        <p>Tables</p>
      </a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a>
        <i class="fa fa-file-o" aria-hidden="true"></i>
        <p>Other Pages</p>
      </a>
    </li>
  </ul>
</nav>

